In [20]:
tup1 = ()

In [21]:
tup2 = (10,20,30)

In [22]:
tup3 = (10,.77,30.66,60.89)
tup4 = ('one','two',"three")

In [23]:
tup5 = ('Asif',25,(50,100),(150, 90))

In [24]:
tup6 = (100,'Asif',17.765)

In [25]:
tup7 = ('asif', 25,[50, 100],[150, 90],{'John', 'david'},(99,22,33))

In [26]:
len(tup7)

6

# Tuple Indexing #

In [27]:
tup2[0]

10

In [28]:
tup4[0]

'one'

In [29]:
tup4[0][0]

'o'

In [30]:
tup4[-1]

'three'

In [31]:
tup5[-1]

(150, 90)

 # Tuple Slicing #

In [131]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [132]:
mytuple[0:3]

('one', 'two', 'three')

In [133]:
mytuple[2:5]

('three', 'four', 'five')

In [134]:
mytuple[:3]

('one', 'two', 'three')

In [135]:
mytuple[:2]

('one', 'two')

In [136]:
mytuple[-3:]

('six', 'seven', 'eight')

In [137]:
mytuple[-2:]

('seven', 'eight')

In [138]:
mytuple[-1]

'eight'

In [139]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items #

# Loop through a tuple #

In [140]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [143]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [144]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [147]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Tuple Membership #

In [149]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [150]:
'one' in mytuple

True

In [151]:
'ten' in mytuple

False

In [152]:
if 'three' in mytuple:
    print('three is present in the tuple')
else:
    print('eleven is not present in the tuple')

three is present in the tuple

In [153]:
if 'eleven' in mytuple:
    print('eleven is present in  the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# Index Position #

In [154]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [155]:
mytuple.index('one')

0

In [156]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [162]:
mytuple.index('one')

0

In [163]:
mytuple.index('five')

4

In [166]:
mytuple1 = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [167]:
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [168]:
mytuple1.index('one')

0

# Sorting #

In [169]:
mytuple2 = (43,67,99,12,6,90,67)

In [170]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [171]:
sorted(mytuple2, reverse=True)

[99, 90, 67, 67, 43, 12, 6]

# 23rd #

In [1]:
5

5

In [2]:
v = 5
v

5

In [3]:
5 = v

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (237110408.py, line 1)

In [4]:
va = 34, 56

In [5]:
va

(34, 56)

In [6]:
va

(34, 56)

In [7]:
va, var = 34, 56

In [8]:
print(va)
print(var)

34
56

In [9]:
import sys
sys.version

'3.12.5 (tags/v3.12.5:ff3bc82, Aug  6 2024, 20:45:27) [MSC v.1940 64 bit (AMD64)]'

In [10]:
A = 78
b

NameError: name 'b' is not defined

In [11]:
A

78

In [12]:
nit = 21
NIT

NameError: name 'NIT' is not defined

In [13]:
nit

21

In [15]:
1a = 67
1a

SyntaxError: invalid decimal literal (3794310268.py, line 1)

In [16]:
a1 = 67
a1

67

In [17]:
1@ = 89

SyntaxError: invalid syntax (882423719.py, line 1)

In [18]:
pris$ = 67

SyntaxError: invalid syntax (3892105236.py, line 1)

In [19]:
x_train, x_test, y_train, y_test = 80, 20, 70,

ValueError: not enough values to unpack (expected 4, got 3)

In [20]:
x_train, x-test, y_train, y_test = 80, 20, 70, 67, 100

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (243552105.py, line 1)

In [21]:
x_train, x_test, y_train, y_test = 80, 20, 70,67

x_train
x_test
y_train
y_test

67

# sets #


# 27 /06/25 #

In [1]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [3]:
len(myset)

5

In [4]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [5]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [7]:
myset2 = {'Asif', 'john', 'Tyrion'}
myset2

{'Asif', 'Tyrion', 'john'}

In [9]:
myset3 = {10,20, "Hola", (11, 22,320)}
myset3

{(11, 22, 320), 10, 20, 'Hola'}

In [10]:
myset3 = {10,20, "Hola", [11, 22, 32]}
myset3

TypeError: unhashable type: 'list'

In [11]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [13]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a set #

In [15]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

seven
two
five
four
six
one
three
eight

In [16]:
for i in enumerate(myset):
    print(i)

(0, 'seven')
(1, 'two')
(2, 'five')
(3, 'four')
(4, 'six')
(5, 'one')
(6, 'three')
(7, 'eight')

# Set Membership #

In [17]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [18]:
'one' in myset

True

In [19]:
'ten' in myset

False

In [20]:
if 'three' in myset:
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [21]:
if 'eleven' in myset:
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

# add & Remove Items #

In [22]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
myset.add('NINE')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [24]:
myset.update(['TEN', 'ELEVEN', 'TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [25]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [26]:
myset.discard('TEN')
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [27]:
myset.clear()
myset

set()

In [28]:
del myset
myset

NameError: name 'myset' is not defined

# Copy Set #

In [29]:
myset = {'one', 'two', 'thre', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'thre', 'two'}

In [30]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'thre', 'two'}

In [31]:
id(myset) , id(myset1)

(1961727566880, 1961727566880)

In [32]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'thre', 'two'}

In [33]:

id(my_set)

1961727562624

In [34]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'thre', 'two'}

In [35]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'thre', 'two'}

In [36]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'thre', 'two'}

# Set Operation #

In [37]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
c = {8,9,10}

In [38]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
A.union(B, c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [42]:
A.update(B,c)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# intersection #

In [44]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [45]:
A & B

{4, 5}

In [46]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [48]:
A.intersection_update(B)
A

{4, 5}

# Difference #

In [49]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [50]:
A - B

{1, 2, 3}

In [51]:
A.difference(B)

{1, 2, 3}

In [52]:
B - A

{6, 7, 8}

In [53]:
B.difference(A)

{6, 7, 8}

In [54]:
B.difference_update(A)
B

{6, 7, 8}

# Symmetric difference #

In [55]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [56]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [57]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [59]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

 # Subset, Superset & Disjoint #

In [60]:
A = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40}

In [61]:
B.issubset(A)

True

In [62]:
A.issuperset(B)

True

In [65]:
c.isdisjoint(A)

True

In [66]:
B.isdisjoint(A)

False

# Other Builitin Functions #

In [67]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
sum(A)

45

In [69]:
max(A)

9

In [70]:
min(A)

1

In [71]:
len(A)

9

In [72]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [73]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary #

# Create Dictionary #

In [75]:
mydict = dict()
mydict

{}

In [76]:
mydict = {}
mydict

{}

In [77]:
mydict = {1:'one' ,2:'two' ,3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [78]:
mydict=dict({1:'one',2:'two',3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [79]:
mydict={'a':'one','b':'two','c':'three'}
mydict

{'a': 'one', 'b': 'two', 'c': 'three'}

In [80]:
mydict={1:'one','a':'two',3:'three'}
mydict

{1: 'one', 'a': 'two', 3: 'three'}

In [81]:
mydict.keys()

dict_keys([1, 'a', 3])

In [82]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [83]:
mydict.items()

dict_items([(1, 'one'), ('a', 'two'), (3, 'three')])

In [2]:
mydict={1:'one',2:'two', 'A':['asif', 'john', 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [8]:
mydict = {1:'one', 2:'two', 'A':['asif', 'john', 'Maria'], 'B':('Bat', 'ca')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'ca')}

In [11]:
mydict = {1:'one', 2:'two', 'A':{'Name':'asif', 'Age' :20}, 'B':('Bat', 'cat' 'hat')}

In [12]:
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': ('Bat', 'cathat')}

In [13]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'c': None, 'a': None, 'b': None, 'd': None}

In [14]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys ,value)
mydict3

{'c': 10, 'a': 10, 'b': 10, 'd': 10}

In [15]:
keys = {'a', 'b', 'c', 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

# Accessing Items #

In [16]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [17]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [18]:
mydict[1]

'one'

In [19]:
mydict.get(1)

'one'

In [24]:
mydict1 = {'Name':'Asif' , 'ID': 74123, 'DOB':1991, 'job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [23]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [25]:
mydict1['Name']

'Asif'

In [26]:
mydict1.get('job')

'Analyst'

# Add, Remove & Change Items #

In [27]:
mydict1 = {'Name':'Asif', 'ID':12345,'DOB':1991,'Address': 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [28]:
mydict1['DOB'] = 1992
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [29]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [31]:
mydict1['job'] = 'Analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'job': 'Analyst'}

In [32]:
mydict1.pop('job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [33]:
mydict1.popitem()

('Address', 'Delhi')

In [34]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [35]:
del[mydict1['ID']]
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [36]:
mydict1.clear()
mydict1

{}

In [37]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary #

In [38]:
mydict = {'Name':'Asif', 'ID':12345, 'DOB':1991, 'Address': 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [39]:
mydict1 = mydict

In [40]:
id(mydict), id(mydict1)

(1825667385472, 1825667385472)

In [41]:
mydict2 = mydict.copy()

In [42]:
id(mydict2)

1825667544064

In [43]:
mydict['Address'] = 'Mumbai'

In [44]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [45]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [46]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a Dictionary #

In [47]:
mydict1 = {'Name':'Asif', 'ID': 12345, 'DOB':1991, 'Address': 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [48]:
for i in mydict1:
    print(i,':', mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [49]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki

# Dictionary Membership #

In [50]:
mydict1 = {'Name':'Asif', 'ID':12345, 'DOB':1991, 'job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'job': 'Analyst'}

In [51]:
'Name' in mydict1

True

In [52]:
'Asif' in mydict1

False

In [53]:
'ID' in mydict1

True

In [54]:
'Address' in mydict1

False

# All // Any #

In [55]:
mydict1 = {'Name':'Asif', 'ID':12345,  'DOB':1991, 'job': 'Anlist'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'job': 'Anlist'}

In [56]:
all(mydict1)

True